.orbit-container {
    position: relative;
    width: 100%;
    height: auto;
    background: url("../data/img/bgzoom.png") center/cover no-repeat;
    background-size: 120vh;
    display: flex;
    justify-content: center;
}

.middle-grid .grid-container {
    background-color: #b5b3e8dd;
    backdrop-filter: blur(0.50rem);
    border-radius: 20px;
    margin-top: 20rem;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}   

.projetbac {
    display: flex;
    margin: 20px;
    width: auto;
    flex-direction: row;
}

.imgproj, .maquetteimg{
    width: auto;
    border: white 3px solid;
    border-radius: 50px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.intro-projet {
    margin: 40px 40px 0 40px;
}

.intro-projet h2 {
    text-align: center;
    margin: 0 0 40px 0;
}

.middle-grid .rea-container {
    background-color: #b5b3e8dd;
    backdrop-filter: blur(0.50rem);
    border-radius: 20px;
    margin-bottom: 70px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 75rem;
}

.realisation {
    padding: 50px;
    display: flex;
}

.rea-container h2 {
    height: 1.5em;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}
.rea-container p, .middle-grid .grid-container p{
    color: #0a0a0a;
    width: auto;
    text-align: center;
    margin:0;
    font-family: 'Manrope', sans-serif;
}

.detail-projet ul li p {
    text-align: left;
}

.detail-projet{
    margin: 40px 40px 40px 40px;
    width: auto;
}


@media screen and (max-width: 39.9375em) {
    .middle-grid{
        min-width: 414px;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .projetbac, .realisation{
        flex-direction: column;
        padding: 0;
    }
}