.orbit-container {
    position: relative;
    width: 100%;
    background: url("../data/img/error404.png") center/cover no-repeat;
    background-size: 150vh;
    display: flex;
    justify-content: center;
}

.middle-grid .grid-container{
    background-color: #b5b3e8dd;
    backdrop-filter: blur(0.50rem);
    margin-top: 20rem;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menu.medium-horizontal .button-set {
    margin-right: 0;
}

.no-works{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-works h2 {
    text-align: center;
    margin: 0;
}