.orbit-container {
    position: relative;
    height: auto;
    width: 100%;
    background: url("../data/img/bgcv.png") center/cover no-repeat;
    background-size: 150vh;
    display: flex;
    justify-content: center;
  }

.orbit .orbit-container .topbar-responsive .menu {
    background: transparent;
    margin-right: 30px;
}

.middle-grid .grid-container{
    background-color: #b5b3e8dd;
    backdrop-filter: blur(0.50rem);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.download .grid-container{
    margin-top: 15rem;
}

.description-container{
    background-color: #b5b3e8dd;
    backdrop-filter: blur(0.50rem);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}


.intro, .exp-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 900px;
}

.intro-desc {
    margin: 30px;
    top: 100%;
}
.intro-desc h2, .exp-container h2 {
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    text-align: left;
    margin: 0;
}
.intro-desc h5, .intro-desc p {
    color: #0a0a0a;
    text-align: left;
}


.formations {
    width: 35rem;
    margin: 20px;
    text-align: left;
}

.exp-pro {
    margin: 20px;
    width: 35rem;
}

.soft-skills, .centre-interet, .competences {
    margin: 20px;
    padding: auto;
    width: 35rem;
}

.exp-container p {
    margin: 0;
}

.download-button {
    height: 40px;
    width: 20rem;
    border: none;
    border-radius: 10px;
    background: #4f4bbd;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }

.download-button a{
    padding: 8.1px 70px 8.1px 70px;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.download-button:hover {
    position: relative;
    background: #ffffff;
    color: #4f4bbd;
    text-decoration: none;
    border-radius: 10px;
}

.download-button a:hover {
    height: 40px;
    width: 19rem;
    background: #ffffff;
    color: #4f4bbd;
}

@media screen and (max-width: 39.9375em) {
    .middle-grid .grid-container{
        width: auto;
        overflow: scroll;
    }
    .cv{
        height: auto;
        border-radius: 25px;
        box-shadow: -3px 4px 17px 0;
    }
    .download-button{
        margin: 0.875rem 0;
    }
    .exp-container, .intro {
        width: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
  }