.orbit-container {
    height: 40rem;
    width: 100%;
    background: url("../data/img/bgzoom.png") center/cover no-repeat;
    background-size: 30rem;
    display: flex;
    justify-content: center;
}