.orbit-container {
    position: relative;
    width: 100%;
    height: auto;
    background: url("/bazzarom/data/img/background-sae201.png") center/cover no-repeat;
    background-size: 150vh;
    display: flex;
    justify-content: center;
}

.orbit .orbit-container .topbar-responsive .menu{
    padding: 0.7rem 1rem;
}

body {
    height: auto;
}
.middle {
    margin-top: 15rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle-grid .grid-container{
    background-color: #b5b3e8dd;
    backdrop-filter: blur(0.50rem);
    border-radius: 20px;
    margin: 0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.middle-grid {
    width: 87%;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: 
        "intro topo"
        "desc topo"
        "cahier topo";
    align-content: center;
}

.introduction {
    grid-area: intro;
    width: 90%;
}

.flex {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}

.topologie {
    grid-area: topo;
    display: flex;
    align-items: flex-start;
    border-radius: 20px;

}

.img {
    min-width: 50rem;
    border-radius: 20px;
}

.middle-grid .grid-container p {
    color: #0A0A0A;
}

.description {
    grid-area: desc;
    width: 90%;
    margin: 20px 0 20px 0;
}

.cahier-des-charges {
    grid-area: cahier;
    width: 90%;
    height: 12rem;
}


.download-button {
    height: 40px;
    min-width: 20rem;
    border: none;
    border-radius: 10px;
    background: #4f4bbd;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }

.download-button a{
    padding: 8.1px 70px 8.1px 70px;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

.download-button:hover {
    position: relative;
    background: #ffffff;
    color: #4f4bbd;
    text-decoration: none;
    border-radius: 10px;
}

.download-button a:hover {
    height: 40px;
    width: 19rem;
    background: #ffffff;
    color: #4f4bbd;
}
img {
    max-width: 100%;
}
.slider-container {
    width: 600px;
    position: relative;
    height: 510px;
    margin-bottom: 60px;
    overflow: hidden;
}
.menu_slide {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu_slide label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #b5b1e9;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu_slide label:hover,.menu_slide label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    border-radius: 20px;
    width: 100%;
    max-width: 600px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}
